<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd" >
<sqlMap namespace="Worker">

    <select id="showColumns" parameterClass="java.lang.String" resultClass="itstack.demo.worker.domain.po.TableColumn">
         <![CDATA[
        SHOW COLUMNS FROM $table$
        ]]>
    </select>

    <select id="selectBySql" parameterClass="java.lang.String" remapResults="true" resultClass="java.util.HashMap">
         <![CDATA[
         $sql$
        ]]>
    </select>
</sqlMap>